/*-------------------
    Global Styles
--------------------*/

body {
  max-height: 100%;
  overflow: hidden;
}

.container {
  margin: 0;
  width: 100%;
}

.row {
  height: 100vh;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sticky {
  position:absolute;
  width: 100%;
  margin-bottom: 1em;
  margin-left: .3em;
  bottom: 30px;
  height: 5%;
}

p, li, input, button {
  color: #4A4A4A;
}

/*-------------------
    Nav Styles
--------------------*/

#logo {
  padding: .5em;
  padding-bottom: 0em;
  font-size: 3vw;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}

#nav {
  margin: 1em;
}
#nav a {
  color: #4A4A4A;
}

#settings {
  border-color: #979797;
}
#settings .card-header {
  background-color: #979797;
}
.show .card-block {
  height: 47vh;
  overflow: scroll;
}
.selected {
  font-weight: bold;
}

/*-------------------
    Chat Styles
--------------------*/

/*#message-and-chat {
  position:absolute;
  width: 100%;
  margin-bottom: 1em;
  margin-left: .3em;
  bottom: 0;
  height: 5%;
}*/

.nav-tabs .nav-link {
  color: #fff;
  background-color: #4A4A4A;
  border-bottom: 1px solid #fff;
  margin-right: .75em;
}
.active {
  color: #4A4A4A;
}
.fa-window-close {
  margin-left: .5em;
}

.tab-pane {
  height: 95%;
}

#chat {
  /*margin: 1em;
  margin-left: 1.8em;*/
  height: 80%;
  padding: 0em;
  border: 1px solid #fff;
}
#chat-container {
  height: 91%;
  background-color: #4A4A4A;
  margin: 1em;
}
#messages-container {
  padding: 0;
  overflow: scroll;
}
#messages {
  list-style-type: none;
  padding: 15px;
  background-color: #f2f2f2;
}
#messages li {
  margin: .3em 0;
}

.from {
  font-size: 0.75em;
  font-weight: bold;
  padding-right: .5em;
}
.timestamp {
  font-size: 0.75em;
  color: #a4a4a4;
}

.upvote {
  padding: .2em .4em;
  border: 0;
}
.fa-plus {

}


#users {
  padding: 1em;
}
#users-container {
  background-color: #4A4A4A;
}
#users-container li {
  color: #fff;
  list-style-type: none;
}
.fa-dot-circle-o {
  color: #84E73B;
  padding-right: .25em;
}


/* we should use flex box for this instead */
#message-form {
  margin: 1em;
  width: 100%;
  /*background-color: #F2F2F2;
  border: 1px solid #fff;*/
}
#chat-text-box {
  width: 80%;
}
#send-button {
  padding: .4em .8em;
}
