/*-------------------
    Global Styles
--------------------*/

.container {
  margin: 0;
  width: 100%;
}

.row {
  height: 100vh;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sticky {
  position:absolute;
  width: 100%;
  margin-bottom: 1em;
  margin-left: .3em;
  bottom: 0;
  height: 5%;
}

p, li, input, button {
  color: #4A4A4A;
}

/*-------------------
    Nav Styles
--------------------*/

#logo {
  margin: .25em;
  margin-bottom: .75em;
}

#nav {
  margin: 1em;
}

#nav-card-block {
  padding: 0;
}
#nav-card-block button {
  border: none;
}
.btn-group img {
  width: 2.5em;
}

/*-------------------
    Chat Styles
--------------------*/

/*#message-and-chat {
  position:absolute;
  width: 100%;
  margin-bottom: 1em;
  margin-left: .3em;
  bottom: 0;
  height: 5%;
}*/

#message-form {
  width: 100%
}

#chat-text-box {
  width: 80%
}

#send-button {
  width: 15%
}

#chat {
  background-color: #F2F2F2;
  margin: 0.3em;
  padding: 0.5em;
}
