/*-------------------
    Global Styles
--------------------*/

.container {
  margin: 0;
  width: 100%;
}

/*-------------------
    Nav Styles
--------------------*/

#logo {
  margin: .25em;
  margin-bottom: .75em;
}

#nav {
  margin: 1em;
}

.card li, p {
  color: #4A4A4A;
}

/*-------------------
    Chat Styles
--------------------*/

#chat {
  background-color: #F2F2F2;
}
