body, html {
  height: 100%;
}

body {
  background-image: url("../images/chalkboard-background.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
}

.viewport-centered {
  height: 100%;
}
.viewport-centered .row {
  margin: auto;
}

.chalktalk {
  font-family: 'Chalkduster', sans-serif;
}
